section {
  background-color: #ebebeb; 
  color: rgb(15, 15, 15);
  border-top-left-radius: 5px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 5px;
  margin-bottom: 2rem;
  padding: 2rem 1.5rem !important;
}



.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .vending-machine-graphic-container {
    padding: 20px;

    .vending-machine-graphic {
      background-image: url('./img/vending-machine.jpg');
      height: 240px;
      width: 140px;
      background-size: contain;
      background-repeat: no-repeat;
      border-top: 2px solid #000;
      border-bottom: 20px solid #000;
      overflow: hidden;
      border-radius: 10%;
    }
  }
}