* {
  font-family: 'WorkSans';
  font-size: 20px;
}


body {
  background-image: linear-gradient(to right bottom, #202734, #0e151c, #030c10, #01040b, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #fff;
  min-height: 100vh;
}

.site-title a {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
}

h2 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgb(21, 5, 5);
  font-weight: 900;

  small {
    font-size: 0.8rem;
    margin-top: -1rem;
  }
}

form.contact-form {
 .form-group {
  display: flex;
  margin-bottom: 1rem;

  label,
  input {
    display: block;
    margin-right: 10px;
  }
 }

  .form-group ~ input[required] {
  &:after {
    content: '*';
    display: block;
    height:200px;
    width: 200px;
    color: red;
  }
 }
}

.content-container {
  display: flex;
  justify-content: center;

  .content-width {
    width: 100%;
    padding: 0 20px;
    max-width: 850px;
  }
}